<!-- app/views/home/index.html.erb -->
<h1>Welcome to Realtime Search</h1>

<div id="search-container">
  <input type="text" id="search-input" placeholder="Enter your search">
  <div id="search-results"></div>
</div>
